.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* esercizio responsive */

@media screen and (max-width: 420px) {
  * {
    transition: 2s;
  }

  .row {
    width: 100%;
  }

  #lezioni .row>.left,
  #lezioni .row>.right,
  #steps .row>.right,
  #steps .row>.central,
  #steps .row>.left {
    width: 100%;
  }

  #lezioni,
  #why {
    background-color: rgba(242, 242, 205, 255);
  }
}

/* esercizio bonus responsive */


@media screen and (min-width:421px) and (max-width:768px) {
  * {
    transition: 2s;
  }

  h1,
  h3 {

    background-color: blanchedalmond;
    color: cyan;
  }

  #steps {
    background-color: #ffd70066;
  }

  .row {
    width: 100%;
  }

  #lezioni .row>.left,
  #lezioni .row>.right,
  #steps .row>.right,
  #steps .row>.central,
  #steps .row>.left {
    width: 100%;
  }
}